In [269]:
#Modules
import os
import pandas as pd

#Path to data files
schools_path = os.path.join('.', "schools_complete.csv")
students_path = os.path.join('.', "students_complete.csv")

In [350]:
# Use Pandas to read files
schools_df = pd.read_csv(schools_path)
schools_df.head()

students_df = pd.read_csv(students_path)
#students_df.head()

In [351]:
#Find total schools
schools_df["school_name"]
len(schools_df["school_name"])
total_schools = len(schools_df["school_name"])
#total_schools

In [352]:
#Find total students
schools_df["size"]
schools_df["size"].sum()
total_students = schools_df["size"].sum()
#total_students

In [353]:
#Find total budget
schools_df["budget"]
schools_df["budget"].sum()
total_budget = schools_df["budget"].sum()
#total_budget

In [354]:
#Find average math score
students_df["math_score"]
students_df["math_score"].mean()
average_math_score = students_df["math_score"].mean()
#average_math_score

In [355]:
#Find average reading score
students_df["reading_score"]
students_df["reading_score"].mean()
average_reading_score = students_df["reading_score"].mean()
#average_reading_score

In [356]:
#Find percent of passing math scores
#Passing math
students_df[students_df["math_score"] > 69].head() 
passing_math = len(students_df[students_df["math_score"] > 69])
passing_math/total_students
percent_passing_math = passing_math/total_students
#percent_passing_math

In [357]:
#Find percent of passing reading scores
#Passing reading
students_df[students_df["reading_score"] > 69].head() 
len(students_df[students_df["reading_score"] > 69])
passing_reading = len(students_df[students_df["reading_score"] > 69])
passing_reading/total_students
percent_passing_reading = passing_reading/total_students
#percent_passing_reading

In [359]:
#Find percent of passing math and reading scores
#Passing math and reading
students_df.loc[(students_df["reading_score"] > 69) & (students_df["math_score"] > 69), :]
len(students_df.loc[(students_df["reading_score"] > 69) & (students_df["math_score"] > 69), :])
passing_both = len(students_df.loc[(students_df["reading_score"] > 69) & (students_df["math_score"] > 69), :])
#passing_both/total_students
#percent_passing_both = passing_both/total_students

In [360]:
# Place all of the data found into a summary DataFrame
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                              "Total Students": total_students,
                              "Total Budget": total_budget,
                              "Average Math Score": average_math_score,
                              "Average Reading Score": average_reading_score,
                              "Percent Passing Math": percent_passing_math,
                              "Percent Passing Reading": percent_passing_reading,
                              "Percent Passing Math and Reading": percent_passing_both})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [361]:
#Find per student budget for each school
schools_df.groupby(["school_name"]).sum()
grouped_schools = schools_df.groupby(["school_name"])
grouped_schools

school_averages_df = pd.DataFrame(grouped_schools["size", "budget"].sum())
schools_df["budget"]/schools_df["size"]
per_student_budget = schools_df["budget"]/schools_df["size"]
per_student_budget

school_averages_df["Budget per Student"] = school_averages_df["budget"]/school_averages_df["size"]
#school_averages_df

<ipython-input-361-a05efbaacd1b>:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_averages_df = pd.DataFrame(grouped_schools["size", "budget"].sum())

In [362]:
#Find average math and reading scores for each school
students_df.head()
grouped_schools = students_df.groupby('school_name')
grouped_schools
average_scores_per_school_df = pd.DataFrame(grouped_schools["reading_score", "math_score"].mean())
#average_scores_per_school_df

<ipython-input-362-462c1a4f3848>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  average_scores_per_school_df = pd.DataFrame(grouped_schools["reading_score", "math_score"].mean())

In [363]:
#Find percent of students passing math for each school
students_df.head()
grouped_schools.count().head()

students_passing_math = students_df[students_df["math_score"] > 69]
students_passing_math
students_passing_math.groupby(['school_name']).count()
student_passing_math_grouped_by_school = students_passing_math.groupby(['school_name']).count()
students_passing_math_df = pd.DataFrame(student_passing_math_grouped_by_school["math_score"])
students_passing_math_df

grouped_schools["math_score"].count()
students_passing_math_df["math_score"]/grouped_schools["math_score"].count()
students_passing_math_df["Percent Passing Math"] = students_passing_math_df["math_score"]/grouped_schools["math_score"].count()
#students_passing_math_df

In [364]:
#Find percent of students passing reading for each school
students_df.head()
grouped_schools.count().head()

students_passing_reading = students_df[students_df["reading_score"] > 69]
students_passing_reading
students_passing_reading.groupby(['school_name']).count()
student_passing_reading_grouped_by_school = students_passing_reading.groupby(['school_name']).count()
students_passing_reading_df = pd.DataFrame(student_passing_reading_grouped_by_school["reading_score"])
students_passing_reading_df

grouped_schools["reading_score"].count()
students_passing_reading_df["reading_score"]/grouped_schools["reading_score"].count()
students_passing_reading_df["Percent Passing Reading"] = students_passing_reading_df["reading_score"]/grouped_schools["reading_score"].count()
#students_passing_reading_df

In [365]:
#Find percent of students passing math and reading for each school
students_df.head()
grouped_schools.count().head()

students_df.loc[(students_df["reading_score"] > 69) & (students_df["math_score"] > 69), :]
students_passing_both = students_df.loc[(students_df["reading_score"] > 69) & (students_df["math_score"] > 69), :]
students_passing_both
students_passing_both.groupby(['school_name']).count()
student_passing_both_grouped_by_school = students_passing_both.groupby(['school_name']).count()
student_passing_both_grouped_by_school
students_passing_both_df = pd.DataFrame(student_passing_both_grouped_by_school["reading_score"])
students_passing_both_df

grouped_schools["reading_score"].count()
students_passing_both_df["reading_score"]/grouped_schools["reading_score"].count()
students_passing_both_df["Percent Passing Math and Reading"] = students_passing_both_df["reading_score"]/grouped_schools["reading_score"].count()
#students_passing_both_df

In [366]:
#reset index to combine grouped by data 
schools_df
indexed_schools = schools_df.set_index("school_name")

# Place all of the data found into a summary DataFrame
school_summary_df = pd.DataFrame({ #"School Name": indexed_schools["school_name"],
                                  "School Type": indexed_schools["type"],
                                  "Total Students": indexed_schools["size"],
                                  "Total School Budget": indexed_schools["budget"],
                                  "Budget per Student": school_averages_df["Budget per Student"],
                                  "Average Math Score": average_scores_per_school_df["math_score"],
                                  "Average Reading Score": average_scores_per_school_df["reading_score"],
                                  "Percent Passing Math": students_passing_math_df["Percent Passing Math"],
                                  "Percent Passing Reading":students_passing_reading_df["Percent Passing Reading"],
                                  "Percent Passing Math and Reading": students_passing_both_df["Percent Passing Math and Reading"]})

school_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [289]:
#Find top 5 performing schools based on % Overall Passing
top_performing = school_summary_df.sort_values(["Percent Passing Math and Reading"], ascending=False)
top_performing_df = top_performing.head()
top_performing_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

In [294]:
#Find bottom 5 performing schools based on % Overall Passing
bottom_performing = school_summary_df.sort_values(["Percent Passing Math and Reading"], ascending=True)
bottom_performing_df = bottom_performing.head()
bottom_performing_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

In [305]:
#Find average Math Score for students of each grade level 
students_df.groupby(['school_name', 'grade'])
grouped_students_df = students_df.groupby(['school_name', 'grade'])
grouped_students_df['math_score'].mean()
average_math_score_per_grade = grouped_students_df['math_score'].mean()
average_math_score_per_grade

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

In [308]:
#Find average Reading Score for students of each grade level 
grouped_students_df['reading_score'].mean()
average_reading_score_per_grade = grouped_students_df['reading_score'].mean()
average_reading_score_per_grade

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

In [322]:
#Create a table that breaks down school performances based on average Spending Ranges 
school_summary_df['Budget per Student'].min() #578
school_summary_df['Budget per Student'].max() #655

bins = [575, 597, 618, 639, 660]

group_names = ["Lowest", "Moderately Low", "Moderately High", "Highest"]

pd.cut(school_summary_df["Budget per Student"], bins, labels=group_names, include_lowest=True)

scores = school_summary_df[['Budget per Student','Average Math Score', 'Average Reading Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Passing Math and Reading']]
scores 

scores["Spending"] = pd.cut(scores["Budget per Student"], bins, labels=group_names, include_lowest=True)
scores

school_spending_df = scores[['Average Math Score', 'Average Reading Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Passing Math and Reading', 'Spending']]
school_spending_df

<ipython-input-322-73c3579d0d64>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scores["Spending"] = pd.cut(scores["Budget per Student"], bins, labels=group_names, include_lowest=True)

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading,Spending
Bailey High School,77.048432,81.033963,0.666801,0.819333,0.546423,Moderately High
Cabrera High School,83.061895,83.975780,0.941335,0.970398,0.913348,Lowest
Figueroa High School,76.711767,81.158020,0.659885,0.807392,0.532045,Moderately High
Ford High School,77.102592,80.746258,0.683096,0.792990,0.542899,Highest
Griffin High School,83.351499,83.816757,0.933924,0.971390,0.905995,Moderately High
Hernandez High School,77.289752,80.934412,0.667530,0.808630,0.535275,Highest
Holden High School,83.803279,83.814988,0.925059,0.962529,0.892272,Lowest
Huang High School,76.629414,81.182722,0.656839,0.813164,0.535139,Highest
Johnson High School,77.072464,80.966394,0.660576,0.812224,0.535392,Highest
Pena High School,83.839917,84.044699,0.945946,0.959459,0.905405,Moderately Low
Rodriguez High School,76.842711,80.744686,0.663666,0.802201,0.529882,Moderately High
Shelton High School,83.359455,83.725724,0.938671,0.958546,0.898921,Moderately Low
Thomas High School,83.418349,83.848930,0.932722,0.973089,0.909480,Moderately High
Wilson High School,83.274201,83.989488,0.938677,0.965396,0.905826,Lowest
Wright High School,83.682222,83.955000,0.933333,0.966111,0.903333,Lowest

In [337]:
#Create a table that breaks down school performances based on size
school_summary_df['Total Students'].min() #427
school_summary_df['Total Students'].max() #4976

bins = [425, 1950, 3475, 5000]

group_names = ["Small", "Medium", "Large"]

pd.cut(school_summary_df["Total Students"], bins, labels=group_names, include_lowest=True)

size = school_summary_df[['Total Students','Average Math Score', 'Average Reading Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Passing Math and Reading']]
size

size["School Size"] = pd.cut(size["Total Students"], bins, labels=group_names, include_lowest=True)
size

school_size_df = size[['Average Math Score', 'Average Reading Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Passing Math and Reading', 'School Size']]
school_size_df

<ipython-input-337-1531eda3d869>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  size["School Size"] = pd.cut(size["Total Students"], bins, labels=group_names, include_lowest=True)

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading,School Size
Bailey High School,77.048432,81.033963,0.666801,0.819333,0.546423,Large
Cabrera High School,83.061895,83.975780,0.941335,0.970398,0.913348,Small
Figueroa High School,76.711767,81.158020,0.659885,0.807392,0.532045,Medium
Ford High School,77.102592,80.746258,0.683096,0.792990,0.542899,Medium
Griffin High School,83.351499,83.816757,0.933924,0.971390,0.905995,Small
Hernandez High School,77.289752,80.934412,0.667530,0.808630,0.535275,Large
Holden High School,83.803279,83.814988,0.925059,0.962529,0.892272,Small
Huang High School,76.629414,81.182722,0.656839,0.813164,0.535139,Medium
Johnson High School,77.072464,80.966394,0.660576,0.812224,0.535392,Large
Pena High School,83.839917,84.044699,0.945946,0.959459,0.905405,Small
Rodriguez High School,76.842711,80.744686,0.663666,0.802201,0.529882,Large
Shelton High School,83.359455,83.725724,0.938671,0.958546,0.898921,Small
Thomas High School,83.418349,83.848930,0.932722,0.973089,0.909480,Small
Wilson High School,83.274201,83.989488,0.938677,0.965396,0.905826,Medium
Wright High School,83.682222,83.955000,0.933333,0.966111,0.903333,Small

In [349]:
#Create a table that breaks down school performances based on school type
school_summary_df.groupby(['School Type']).mean()
school_type = school_summary_df.groupby(['School Type'])

school_type_df = school_type[['Average Math Score', 'Average Reading Score', 'Percent Passing Math', 'Percent Passing Reading', 'Percent Passing Math and Reading']].mean()
school_type_df

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.904322
District,76.956733,80.966636,0.665485,0.807991,0.536722